:root{

    /* primary colors */
    --clr-main-bg: hsl(256, 25%, 20%);
    --clr-icons-bg: hsl(216, 30%, 68%);

    /* netural colors */
    --clr-headings: hsl(270, 9%, 17%);
    --clr-text: hsl(273, 4%, 51%);
    --clr-text-top: hsl(274, 7%, 81%);
    --clr-bg-white: hsl(0, 0%, 98%);

    /* font families */
    --ff-body: 'Karla', sans-serif;
    --ff-headings: 'DM Serif Display', serif;;

    /* fonw weights */
    --fw-body: 400;
    --fw-bold: 700;

    --fs: 16px;
    

    --letter-sp: 1px;
}





@media only screen and (max-width: 475px){

    :root{
        --margin-left: 0px !important;
    }

    body{
        text-align: center;
        overflow-x: hidden !important;
    }

    

    .mob{
        display: block;
    }

    .desk{
        display: none;
    }

    nav{
        width: 100%;
        padding: 20px 40px;
    }

    .ham,
    .close{
        padding-right: 30px;
        cursor: pointer;
    }

    nav ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--clr-headings);
        z-index: 10;
        width: 100%;
        height: 91vh;
        align-items: center;
        top: 73px;
        left: 0;
        overflow-x: hidden !important;
        right: 0;
        transition: .5s;
    }

    .translated{
        transform: translateX(100%);
    }

    nav ul li{
        margin: 5px 0;
        z-index: 13;
        color: white;
        font-size: 16px;
        z-index: 3497;
    }

    #squared{
        width: 80%;
        border: 2px solid white;
        color: white;
        padding: 20px 0;
        font-weight: 900;
        font-size: 17px;
    }

    #squared:hover{
        color: inherit;
        background-color: white;
    }

    .main-img-mob{
        margin-top: 60px;
        z-index: 3;
    }

    .ul-bg{
       position: relative;
       top: 60px;
       right: 30px;
       height: 200px;
       width: 100%;
    }


    .home{
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .welcoming::before{
        display: none;
    }

    .welcoming{
        padding: 0 0px;
        margin: 120px auto;
    }

    .first-h1{
        font-size: 50px;
    }

    .main-text{
        margin: 0 auto 30px auto;
        max-width: 330px;
    }

    .bg-mob-right{
        position: absolute;
        top: 1050px;
        right: 0px;
    }

    .bg-mob-left{
        position: absolute;
        top: 613px;
    }

    .sec-h1::before{
        width: 40% !important;
        position: absolute;
        top: -50px;
        left: 30% !important;
        content: '';
        background-color: var(--clr-text-top);
        height: 1.5px;
    }

    .features{
        display: flex;
        flex-direction: column;
        margin: 0 auto !important;
        max-width: 325px;
    }

    .features-section{
        margin: 250px 0 175px 0;
    }

    .feature{
        max-width: 1000px;
        margin-bottom: 0;

    }

    .feature:nth-child(2){
        margin: 60px 0 !important;
    }


    .call-to-action-box{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 80px 30px;
        margin: 0 auto;
    }

    .call-to-action-box h1{
        font-size: 50px;
        line-height: normal;
        margin-bottom: 40px;
    }
    
    footer .logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .topper-footer{
        display: flex;
        flex-direction: column;
    }

    

    .footer-items{
        display: flex;
        flex-direction: column;
    }

}
